/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


.form-task {
  padding: 100px;
  border: solid 2px black;
  margin: 100px;
}


.navbar-container {
  height: 70px;
  width: 100%;
}


html {
    position: relative;
    min-height: 100%;
}
body {
    margin-top: 70px;
}

nav {
  position: absolute;
  left: 0;
  top: 0;
  height: 70px;
  width: 100%;
}
